body {
    color: #818181;
    font-size: 15px;
}

a {
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    color: var(--primary-color);
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color-alt);
}

.bg-img,
.form-wrap {
    height: 100vh;
    min-height: 500px;
}

.bg-img {
    left: 0;
    background-image: url('../imgs/rent-car-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    position: relative;
    height: 200px;
    min-height: 200px;
    z-index: 2;
}

.bg-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

@media (min-width: 768px) {
    .bg-img {
        position: fixed;
        width: 50%;
        height: 100vh;
    }
}

@media (min-width: 992px) {
    .bg-img {
        position: fixed;
        width: 50%;
        height: 100vh;
    }
}

@media (min-width: 1200px) {
    .bg-img {
        position: fixed;
        width: 60%;
        height: 100vh;
    }
}

.form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    position: relative;
    z-index: 1;
    padding: 5%;
    width: 100%;
    background: #fff;
    height: 100%;
}

.form-wrap .message-banner {
    position: absolute;
    top: -14%;
    width: 80%;
    border-radius: .6rem;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: 0.3s;
}

.form-wrap .message-banner.active {
    top: 6%;
}

.form-wrap .message-banner.success {
    border: 2px solid green;
}

.form-wrap .message-banner.success .icon {
    background: green;
}

.form-wrap .message-banner.error {
    border: 2px solid red;
}

.form-wrap .message-banner.error .icon {
    background: red;
}

.form-wrap .message-banner .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    margin-right: 1rem;
}

.form-wrap .message-banner span {
    font-size: 1.2em;
    font-weight: bold;
}

/* .form-wrap .message-banner {
    position: absolute;
    top: 8%;
    width: 80%;
    height: 10%;
    border-radius: .4rem;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
}

.form-wrap .message-banner .message-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-radius: .4rem .4rem 0 0;
    background: #007efc3e;
    z-index: 1;
}

.form-wrap .message-banner .message-loader .message-loader-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: .4rem 0 0 0;
    background: var(--primary-color);
    opacity: 1;
    z-index: 99;
}

.form-wrap .message-banner .message-loader .message-loader-bar.done {
    border-radius: .4rem .4rem 0 0;
}

.form-wrap .message-banner .message-content {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    color: var(--primary-color-alt);
    font-size: 1.2em;
    padding-top: 1rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
} */

.form-wrap .form-inner {
    width: 100%;
    transition: 0.3s;
    opacity: 1;
    transform: translateY(0);
}

.form-wrap .form-inner.disappear {
    opacity: 0;
    transform: translateY(120px);
}

@media (min-width: 768px) {
    .form-wrap {
        position: absolute;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .form-wrap {
        position: absolute;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .form-wrap {
        position: absolute;
        width: 40%;
    }
}

.form-wrap .title {
    font-weight: 700;
    font-size: 50px;
    color: #000;
    /* letter-spacing: 0px !important; */
}

.form-wrap .form-floating {
    position: relative;
    margin-bottom: 15px;
}

.form-wrap .form-floating label {
    font-size: 1.1em;
}

.form-wrap .form-floating .form-control {
    height: 60px !important;
    border-radius: 10px !important;
}

.form-wrap .form-floating .form-control:active,
.form-wrap .form-floating .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: var(--primary-color);
}

.form-wrap .password-show-toggle {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 9;
}

.form-wrap .password-show-toggle span {
    font-size: 20px;
}

.form-wrap .password-show-toggle span:before {
    font-family: 'unicons-line';
    content: "\ebf8";
}

.form-wrap .password-show-toggle.active span:before {
    content: "\ebaf";
}

.form-wrap .form-check {
    margin-bottom: 30px;
}

.form-wrap .form-check .form-check-input {
    border-color: #d1d1d1 !important;
}

.form-wrap .form-check .form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color) !important;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-wrap .form-check .form-check-input:focus,
.form-wrap .form-check .form-check-input:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-wrap .btn-primary {
    border-radius: 10px;
    background: var(--primary-color);
    border-color: var(--primary-color);
    height: 60px;
    font-weight: 500;
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
    font-size: 18px;
}

.form-wrap .btn-primary:hover {
    background: var(--primary-color-alt);
    border-color: var(--primary-color-alt);
}