/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {

    --primary-color: #007DFC;
    --primary-color-alt: #2766F1;
    --secondary-color: #252939;
    --light-gray-color: #f6f7f9;
    --input-gray-color: #b7bdc4;
    --white-color: #ffffff;

    --primary-font: 'Open Sans', sans-serif;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--primary-font);
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
    --primary-color: #007DFC;
    --primary-color-alt: #2766F1;
    --secondary-color: #252939;
    --light-gray-color: #f6f7f9;
    --input-gray-color: #b7bdc4;
    --white-color: #ffffff;

    --primary-font: 'Open Sans', sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    background: var(--grey);
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}







/* SIDEBAR */
#sidebar {
    position: fixed;
    max-width: 260px;
    width: 100%;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3s ease;
    border-right: 1px solid #eeeeee;
    z-index: 200;
}

#sidebar.hide {
    max-width: 60px;
}

#sidebar.hide:hover {
    max-width: 260px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#sidebar .brand {
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--dark);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--light);
    transition: all .3s ease;
    padding: 0 6px;
}

#sidebar .icon {
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 6px;
}

#sidebar .icon-right {
    margin-left: auto;
    transition: all .3s ease;
}

#sidebar .side-menu {
    margin: 36px 0;
    padding: 0 20px;
    transition: all .3s ease;
}

#sidebar.hide .side-menu {
    padding: 0 6px;
}

#sidebar.hide:hover .side-menu {
    padding: 0 20px;
}

#sidebar .side-menu a {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all .3s ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}

#sidebar .side-menu>li>a:hover {
    background: var(--grey);
}

#sidebar .side-menu>li>a.active .icon-right {
    transform: rotateZ(90deg);
}

#sidebar .side-menu>li>a.active,
#sidebar .side-menu>li>a.active:hover {
    /* background: var(--blue); */
    /* background: #f6f9ff; */
    background: #e9edfd;
    /* color: var(--light); */
    color: var(--blue);
    font-weight: 500;
}

#sidebar .divider {
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
    transition: all .3s ease;
    white-space: nowrap;
}

#sidebar.hide:hover .divider {
    text-align: left;
}

#sidebar.hide .divider {
    text-align: center;
}

#sidebar .side-dropdown {
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15s ease;
}

#sidebar .side-dropdown.show {
    max-height: 1000px;
}

#sidebar .side-dropdown a:hover {
    color: var(--blue);
}

#sidebar .ads {
    width: 100%;
    padding: 20px;
}

#sidebar.hide .ads {
    display: none;
}

#sidebar.hide:hover .ads {
    display: block;
}

#sidebar .ads .wrapper {
    background: var(--grey);
    padding: 20px;
    border-radius: 10px;
}

#sidebar .btn-upgrade {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    color: var(--light);
    background: var(--blue);
    transition: all .3s ease;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 12px;
}

#sidebar .btn-upgrade:hover {
    background: var(--dark-blue);
}

#sidebar .ads .wrapper p {
    font-size: 12px;
    color: var(--dark-grey);
    text-align: center;
}

#sidebar .ads .wrapper p span {
    font-weight: 700;
}

/* SIDEBAR */





/* CONTENT */
#content {
    position: relative;
    width: calc(100% - 260px);
    left: 260px;
    transition: all .3s ease;
}

#sidebar.hide+#content {
    width: calc(100% - 60px);
    left: 60px;
}

/* NAVBAR */
nav {
    background: var(--light);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eeeeee;
    z-index: 100;
}

nav .toggle-sidebar {
    font-size: 18px;
    cursor: pointer;
}

nav form {
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

nav .form-group {
    position: relative;
}

nav .form-group input {
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3s ease;
}

/* nav .form-group input:focus {
    box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
} */

nav .form-group .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey);
}

nav .nav-link {
    position: relative;
}

nav .nav-link .icon {
    font-size: 18px;
    color: var(--dark);
}

nav .nav-link .badge {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--light);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    font-size: 10px;
    font-weight: 700;
}

nav .divider {
    width: 1px;
    background: var(--grey);
    height: 12px;
    display: block;
}

nav .profile .profile-info {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

nav .profile h4 {
    pointer-events: none;
}

nav .profile img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    pointer-events: none;
}

nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 20px;
    background: var(--light);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

nav .profile .profile-link.show {
    opacity: 1;
    pointer-events: visible;
    top: 100%;
}

nav .profile .profile-link a {
    padding: 10px 16px;
    display: flex;
    grid-gap: 10px;
    font-size: 14px;
    color: var(--dark);
    align-items: center;
    transition: all .3s ease;
}

nav .profile .profile-link a:hover {
    background: var(--grey);
}

/* NAVBAR */



/* MAIN */
main {
    width: 100%;
    padding: 24px 20px 20px 20px;
}

main hr {
    margin-top: 36px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #cdcdcd;
}

main .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 10px;
}

main .breadcrumbs {
    display: flex;
    grid-gap: 6px;
}

main .breadcrumbs li,
main .breadcrumbs li a {
    font-size: 14px;
}

main .breadcrumbs li a {
    color: var(--blue);
}

main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
    color: var(--dark-grey);
    pointer-events: none;
}

main .add-feature-btn {
    display: inline-flex;
    height: 60px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: background .2s;
}

main .add-feature-btn.brands-btn,
main .add-feature-btn.veh-models-btn,
main .add-feature-btn.clients-btn {
    background: #cc5b83;
}

main .add-feature-btn.brands-btn:hover,
main .add-feature-btn.veh-models-btn:hover,
main .add-feature-btn.clients-btn:hover {
    background: #b84f74;
}

main .add-feature-btn.fuels-btn,
main .add-feature-btn.employees-btn {
    background: #de9876;
}

main .add-feature-btn.fuels-btn:hover,
main .add-feature-btn.employees-btn:hover {
    background: #b87f62;
}

main .add-feature-btn.vehicle-types-btn {
    background: #3bb4ff;
}

main .add-feature-btn.vehicle-types-btn:hover {
    background: #2892d4;
}

main .add-feature-btn.fuels-btn span,
main .add-feature-btn.vehicle-types-btn span,
main .add-feature-btn.brands-btn span,
main .add-feature-btn.veh-models-btn span,
main .add-feature-btn.clients-btn span,
main .add-feature-btn.employees-btn span {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #ffffff;
    height: 100%;
}

main .add-feature-btn.fuels-btn span.add-feature-btn-icon,
main .add-feature-btn.vehicle-types-btn span.add-feature-btn-icon,
main .add-feature-btn.brands-btn span.add-feature-btn-icon,
main .add-feature-btn.veh-models-btn span.add-feature-btn-icon,
main .add-feature-btn.clients-btn span.add-feature-btn-icon,
main .add-feature-btn.employees-btn span.add-feature-btn-icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, .08);
}

main .info-data {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 20px;
}

main .info-data.fuels,
main .info-data.vehicle-types,
main .info-data.brands {
    grid-template-columns: repeat(4, minmax(240px, 1fr));
}

main .info-data .card {
    padding: 20px;
    border-radius: 10px;
    background: var(--light);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    gap: 20px;
}

main .info-data .card i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

main .info-data .card .car-icon {
    color: #4bb7fa;
    background: #e5f3fe;
}

main .info-data .card .user-icon {
    color: #cc5b83;
    background: #ffd6e5;
}

main .info-data .card .employees-icon {
    color: #de9876;
    background: #ffebe1;
}

main .info-data .card .money-icon {
    color: #47c482;
    background: #e1f8eb;
}

main .info-data .card .card-title {
    font-size: .9em;
    font-weight: 500;
    color: #a8a8a8;
}

main .info-data .card .card-data {
    font-size: 1.2em;
    color: #1e1f22;
    font-weight: 700;
}

main .data {
    display: flex;
    grid-gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

main .data .content-data {
    /* flex-grow: 1; */
    flex-basis: 400px;
    padding: 20px;
    background: var(--light);
    border-radius: 10px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
    height: 400px;
    max-height: 400px;
    overflow-y: auto;
}

main .data .content-data.left-side {
    flex-grow: 99;
    /* flex-basis: 400px; */
}

main .data .content-data.right-side {
    flex-grow: 1;
    /* flex-basis: 290px; */
}

/* MAIN */

main .data .content-data.left-side .head-prev-table {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .data .content-data.left-side .head-prev-table i {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 1rem;
}

main .data .content-data.left-side .head-prev-table i:last-child {
    margin-right: 0;
}

main .data .content-data.left-side table {
    width: 100%;
    border-collapse: collapse;
    background: #ffffff;
    text-align: left;
    overflow: hidden;
    border-radius: .4rem;
}

main .data .content-data.left-side table tr {
    border: 1px solid #e1e5ee;
}

main .data .content-data.left-side table thead th {
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: .7rem;
    font-weight: bold;
    background: #f4f6fb;
}

main .data .content-data.left-side table thead th:not(:last-child),
main .data .content-data.left-side table tbody tr td:not(:last-child) {
    border-right: 1px solid #e1e5ee;
}

main .data .content-data.left-side table td {
    padding: 1rem;
}

main .data .content-data.left-side table td.rental-customer-img {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .data .content-data.left-side table td img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

main .data .content-data.left-side table .status {
    border-radius: .2rem;
    background: #c8e6c9;
    color: #388e3c;
    padding: .2rem 1rem;
    text-align: center;
}

main .data .content-data.left-side table .status.status-process {
    background: #fff0c2;
    color: #a68b00;
}

main .data .content-data.left-side table .status.status-complete {
    color: #4bb7fa;
    background: #e5f3fe;
}

main .data .content-data.left-side table td.rent-amount {
    text-align: right;
}

main .data .content-data.left-side table tr:nth-child(even) {
    background: #f4f6fb;
}

/* CONTENT */

@media screen and (max-width: 768px) {
    #content {
        position: relative;
        width: calc(100% - 60px);
        transition: all .3s ease;
    }

    nav .nav-link,
    nav .divider {
        display: none;
    }
}