/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {

    --primary-color: #007DFC;
    --primary-color-alt: #2766F1;
    --secondary-color: #252939;
    /* --light-gray-color: #F8F9FA; */
    --light-gray-color: #f6f7f9;
    --input-gray-color: #b7bdc4;
    --white-color: #ffffff;

    --primary-font: 'Open Sans', sans-serif;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--primary-font);
}

html, body {
    width: 100%;
    height: 100%;
}