@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {

    --primary-color: #007DFC;
    --secondary-color: #252939;
    /* --light-gray-color: #F8F9FA; */
    --light-gray-color: #f6f7f9;
    --input-gray-color: #b7bdc4;
    --white-color: #ffffff;

    --primary-font: 'Roboto', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--primary-font);
}

html, body {
    width: 100%;
    height: 100%;
}